body {
    font-family: 'Be Vietnam Pro', sans-serif;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
}

header h1 a {
    color: red;
    text-decoration: none;
}


.nav-left {
    margin-right: auto;
}

.post-entry {
    margin-bottom: 2rem;

}

.post-entry h2 {
    margin: 0.5rem 0;
}

.post-entry h2 a,
.post-entry h2 a:visited {
    color: blue;
    text-decoration: none;
}

.post-entry p {
    margin: 0;
    font-weight: 400;
}

.post-entry h2 a:hover {
    color: red;
}

@media (min-width: 768px) {
    .navbar-brand.abs
        {
            position: absolute;
            width: auto;
            left: 50%;
            transform: translateX(-50%);
            text-align: center;
        }
    }

.post-box {
    border: 0px double black;
    margin: 25px 850px 75px 100px;
    background-color: white;
    padding-left: 10px;
    align-content: center;
}

#login-jumbo {
    background-image: url('../img/jumbotron-bkg-2.jpg');
    margin-top: 50px;
    text-align: center;
}

.img-fluid {
    max-width: 50%;
    height: auto;
}


/*Footer Section*/
.section-title {
    padding: 1em 0;
}

.site-footer {
    padding: 0em 0;
    background: #293241;
    font-size:14px;
    color: #fff;
}

.site-footer p:last-child {
    margin-bottom: 1;
}

.site-footer a {
    color: #ffc107;
    border-bottom:1px solid transparent;
}

.site-footer a:link {
    text-decoration: none;
}
.site-footer a:hover {
    color: #fff;
    border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.site-footer h2 {
    font-size: 22px;
    margin-bottom: 28px;
    letter-spacing: 0.05em;
    color: #fff;
}

.site-footer .footer-link li {
    line-height:1.5;
    margin-bottom: 15px;
}

.footer-social a {
    line-height: 0;
    border-radius: 50%;
    margin: 0 5px 5px 0;
    border: 1px solid rgba(255, 255, 255, 0.1);
    width: 30px;
    height: 30px;
    text-align: center;
    display: inline-block;
}

.footer-social a:hover {
    background-color: #fff;
    background: #fff;
    color: #000;
}

.section-copyright {
    text-align: center;
}
