{% extends 'BlogApp/base.html' %}
{% block title %}
Notes...
{% endblock title %}

{% block content %}
<style>
    a:link, a:visited,  a:hover, a:active
    {
        color: #808080;
        text-decoration: none;
    }
    </style>
<br>
<p>Hello <strong>{{ user.username }}</strong>!!!</p>
<div class="container">
    <div class="row">
      <div class="col-3">
        <h3><span class="badge bg-dark">Notes</span></h3>
        <ul class="list-group list-group-flush">
            {% if notes %}
                {% for note in notes %}
                <li class="list-group-item"><a href="{% url 'add_notes' %}?notesid={{ note.id }}">{{ note.title }}</a></li>
                {% endfor %}
            {% else %}
            No Notes Yet!!! <br> Create it!!!
            {% endif %}
            
        </ul>
    </div>
    <div class="col-9">
        <form method="post" action="{% url 'add_notes' %}">
            {% csrf_token %}
            <input type="hidden" name="notesid" value="{{ notesid }}">
            <div class="row mb-3">
                <figure class="text-end">
                    <figcaption class="blockquote-footer">
                        {% if note %}
                            Created at: {{ note.create_at|date:"m/d Y" }} || Modified at: {{ note.modified_at|date:"n/d Y" }}
                        {% endif %}
                    </figcaption>
                </figure>
            </div> 
            <div class="row mb-3">
                <label class="col-sm-2 col-form-label">User</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="username" value='' id='user'>
                </div>
                <label class="col-sm-2 col-form-label">Title</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" name="title" placeholder="Title" {% if note %} value="{{ note.title }}" {% endif %}>
                </div>  
                <label class="col-sm-2 col-form-label">Content</label>
                <div class="col-sm-10">
                    <textarea class="form-control" rows="5" name="note_content" placeholder="Your Note">{% if note %} {{ note.note_content }} {% endif %}</textarea>
                </div>
            </div>
            <div class="field">
                <div class="control">
                    <button class="btn btn-dark">Note it!</button>
                    <a class="btn btn-dark" href="{% url 'home' %}" role="button">Back</a>
                    {% if note %}
                        <a class="btn btn-primary" href="{% url 'delete_note' note.id %}" role="button">Delete</a>
                    {% endif %}
                </div>
            </div>
            {% comment %} <input type="submit" value="Note It!"> {% endcomment %}
        </form>
    </div>
    </div>
    <script>
        var name="{{ user.username }}";
        document.getElementById('user').value = name;
    </script>
</div>
{% endblock content %}

