{% extends 'BlogApp\base.html' %}
{% block content %}
    <br>
    {% if user.is_authenticated %}
        <p>Hello {{ user.username }}!</p>
        {% for post in object_list %}
                    <ul>
                        <div class="row">
                            <div class="col-sm-18">
                                <div class="card" style="width: 18rem;">
                                    <img src="{{ post.post_picture.url }}" class="card-img-top" alt="{{ post.title|slice:":20" }}">
                                    <div class="card-body">
                                        <h5 class="card-title">{{ post.title }}</h5>
                                        <h6 class="card-subtitle mb-2 text-muted">
                                            By: {{ post.writer.username }}<br>
                                            {% if user.id == post.writer.id %}
                                                <a href="{% url 'post_edit' post.pk %}">[Edit]</a>
                                                <a href="{% url 'post_delete' post.pk %}">[Delete]</a>
                                            {% endif %}
                                        </h6>
                                        <p class="card-text">{{ post.body|slice:":25" }} ...</p>
                                        <a href="{% url 'post_detail' post.pk %}" class="btn btn-primary">Read Blog</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ul>
        {% endfor %}    
    {% else %}
        <p>Hello Welcome to Blog It Or Not, Where you can write Blogs as well as can write your Diary...
        <br>
        Feel Free to Register your self...
        <br>
        <a class="navbar-link" href="{% url 'register' %}">Register</a>
        <br>
        And If you already have account do Login
        <br>
        <a class="navbar-link" href="{% url 'user_login' %}">Do LogIn</a>
        <br>
        <p>Here are the Blogs posted on Blog It Or Not...
            {% for post in object_list %}
                <div class="post-entry">
                    <ul>
                        <div class="row">
                            <div class="col-sm-18">
                                <div class="card" style="width: 18rem;">
                                    <img src="..." class="card-img-top" alt="{{ post.title|slice:":20" }}">
                                    <div class="card-body">
                                        <h5 class="card-title">{{ post.title }}</h5>
                                        <h6 class="card-subtitle mb-2 text-muted">
                                            By: {{ post.writer.username }}<br>
                                            {% if user.id == post.writer.id %}
                                                <a href="{% url 'post_edit' post.pk %}">[Edit]</a>
                                                <a href="{% url 'post_delete' post.pk %}">[Delete]</a>
                                            {% endif %}
                                        </h6>
                                        <p class="card-text">{{ post.body|slice:":25" }} ...</p>
                                        <a href="{% url 'post_detail' post.pk %}" class="btn btn-primary">Read Blog</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </ul>
                </div>
        {% endfor %}    
        </p>
    {% endif %}
        
   
{% endblock content %}

