{% extends 'BlogApp/base.html' %}
{% block content %}
    <div class="jumbotron" id="login-jumbo">
        <h2>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Please Login!</h2>
        <br>
        <form action="{% url 'user_login' %}" method="post">
            {% csrf_token %}
            <label for="username">Username: </label>
            <input type="text" name="username" placeholder="Enter Username">
            <br>
            <br>
            <label for="password">Password: </label>
            <input type="password" name="password">
            <br>
            <input type="submit" name="" value="LogIn!">
        </form>
    </div>

{% endblock content %}