{% extends 'BlogApp\base.html' %}
{% load static %}
{% block title %}
    {{ object.title }}
{% endblock title %}
{% block content %}
    <style>
        #profile {
            float:right;
        }
        #profile_img {
            margin-top: 20px;
            margin-left: 20px;
            margin-bottom: 20px;
        }
        span {
            display: inline-block;
        }
        .center {
            display: block;
            margin-left: auto;
            margin-right: auto;
            width: 50%;
            height:50%;
          }
    </style>

    <br>
    
    <h2> {{ object.title }}</h2>
    <small>
        <b>Writer: </b>{{ post.writer.username }} @ {{ object.post_date }}<br>
        {% if user.id == post.writer.id %}
            <p><a href="{% url 'post_edit' post.pk %}">[Edit]</a>
            <a href="{% url 'post_delete' post.pk %}">[Delete]</a></p>
        {% endif %}
        <form action="{% url 'like_post' post.pk %}" method="POST" id="profile">
            {% csrf_token %}
            <button type="submit" name="post_id" value={{ post.id }} class="btn btn-primary btn-sm position-relative pull-right">
                Like
                <span class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
                    {{ total_likes }}
                  <span class="visually-hidden">Likes</span>
                </span>
              </button>
        </form>
    </small>
    <hr>
    {% if post.post_picture %}
    <span>
        <img id="post_img" src="{{ post.post_picture.url }}" class="img-fluid center" width="50%" height="50%">
        <hr>
    </span>
    {% endif %}
    
    <p>{{ object.body|safe }}</p>
    <small>
        <div class="card mb-3" style="max-width: 600px;" id="profile">
            <div class="row g-12">
                <div class="col-md-4">
                    <img src="{{ post.writer.profile.profile_picture.url }}" class="rounded-3" width="150" height="150" id="profile_img" alt="...">
                </div>
                <div class="col-md-8">
                    <div class="card-body">
                        <small>
                            <a href="{% url 'show_profile_page' post.writer.profile.id %}"><h5 class="card-title">{{ post.writer.username }}</h5></a>
                            <p class="card-text">{{ post.writer.profile.bio }}</p>
                            <p class="card-text"><small class="text-muted">Visit My Profile Here...</small></p>
                        </small>        
                    </div>
                </div>
            </div>
        </div>
    </small>

    <hr>
    
    <br><br><br>
    <br><br><br>
    <br>
    <h2>Can you write your thoughts...</h2>
    <br>
    {% if not post.comments.all %}      <!--We can call comments through post bcoz they are linked-->
                                        <!--Why comments? bcoz related_name = comments in model-->
        No Comments Yets... <a href="{% url 'add_comment' post.pk %}">Add One</a>
    {% else %}
        <h4>Add Comments For the post <a href="{% url 'add_comment' post.pk %}">here</a>...</h4>
        {% for comment in post.comments.all %}      <!--For each comment in there-->
            <strong>{{ comment.comment_name }} - {{ comment.comment_date }}</strong>
            <br>
            {{ comment.comment_body }}
            <br><br>
            <hr>
            <br>
        {% endfor %}
    {% endif %}

{% endblock content %}
