{% extends 'BlogApp\base.html' %}
{% load static %}
{% block title %}
    {{ object.title }}
{% endblock title %}
{% block content %}
    <br>
    <h2> {{ object.title }}</h2>
    <small>
        <b>Writer: </b>{{ post.writer.username }} @ {{ object.post_date }}<br>
        {% if user.id == post.writer.id %}
            <p><a href="{% url 'post_edit' post.pk %}">[Edit]</a>
            <a href="{% url 'post_delete' post.pk %}">[Delete]</a></p>
        {% endif %}
    </small>
    <hr>
    {% if post.post_picture %}
        <img src="{{ post.post_picture.url }}" class="img-fluid">
        <hr>
    {% endif %}
    
    <p>{{ object.body }}</p>
    <a href="{% url 'home' %}" class='btn btn-secondary'>Back</a>
{% endblock content %}
